*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Box-app {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

  background-image: url('./img/turbina.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.App-header {
  width: 100%;
  min-height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  width: 100%;
  height: 85.7vh;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-footer {
  width: 100%;
  height: 5vh;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.App-link {
  color: #61dafb;
}
