* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.Box-app {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}

/*-----------------HEADER---------------------*/
.App-header {
  width: 100%;
  min-height: 10%;
  margin-bottom: 1px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #292929;
}

.App-header h1 {
  font-size: calc(15px + 2vmin);
  color: #fff;
}

/*------------------BODY----------------------*/
.App-body {
  width: 100%;
  height: 90%;
  font-size: calc(10px + 2vmin);
  color: #fff;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

section {
  height: 100vh;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  scroll-snap-type: y mandatory;
  background-color: #292929;
}

.left-container {
  width: 40%;
  height: 80%;
  background-color: #5481d4;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  width: 10%;
  height: 90%;
  border-radius: 30px;
  margin: 10px;
  transition: all 0.5s;
}

.card:focus {
  border: solid 2px #fff;
  transform: scale(0.98);
  width: 90%;
}

.right-container {
  width: 40%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.right-container-top {
  height: 50%;
  width: 100%;
  background-color: #26a0d8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-container-bottom {
  height: 50%;
  width: 100%;
  background-color: #204fe7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post {
  width: 45%;
  height: 90%;
  border-radius: 30px;
  margin: 5px;
  transition: all 0.5s;
}

.post:focus {
  border: solid 2px #cfcfcf;
  transform: scale(0.98);
  width: 100%;
}

/*---------------------FOOTER-----------------*/
.App-footer {
  width: 100%;
  height: 8vh;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #292929;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.App-footer .icon-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 5vh;
}

.App-footer .icon-bar a {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.App-footer .icon-bar img {
  width: 25px;
  height: 25px;
}

.App-footer .icon-bar a:hover img {
  opacity: 0.7;
}

/*-------------------RESPONSIVE----------------*/
/* @media (min-width: 768px) {
  .App-body {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .App-body {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .App-body {
    width: 1170px;
  }
} */