/* body.css */
.App-body {
    width: 100%;
    height: 400vh;
    font-size: calc(10px + 2vmin);
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-color: #292929;
}
  
section {
    height: 100vh;
    display: inline;
    width: 100%;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    scroll-snap-type: y mandatory;
}

  
.first-container {
    width: 100%;
    height: 32%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding-left: 5%;
}

.card {
    width: 8%;
    height: 70%;
    border-radius: 30px;
    margin: 5px;
    transition: all 0.5s;
}
  
.card:focus {
    border: solid 2px #fff;
    transform: scale(0.98);
    width: 60%;
}
  
.second-container {
    width: 100%;
    height: 60%;

    display: flex;
    justify-content: center;
}

.main-post {
    width: 50%;
    height: 90%;
    margin-left: 15px;
    border-radius: 30px;
    transition: all 0.5s;
}

.main-post:focus {
    border: solid 2px #fff;
    transform: scale(0.98);
    width: 55%;
}

.second-post {
    width: 40%;
    height: 100%;

    margin: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.post {
    width: 70%;
    height: 42%;
    border-radius: 30px;
    margin: 10px;
    transition: all 0.5s;
}
  
.post:focus {
    border: solid 2px #cfcfcf;
    transform: scale(0.98);
    width: 70%;
    height: 60%;
}
  