*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App{
  width: 100%;
  height: 100vh;

  background-color: #292929;

  display: flex;
  align-items: center;
  justify-content: center;
}

/*----------------------------------------GLASS EFECT-------------------------------------*/
.glass {
  background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 20px;
  border-top: 2px solid rgba(225,225,225, 0.2);
  border-left: 1px solid rgba(225,225,225, 0.1);
  border-right: 1px solid rgba(225,225,225, 0.3);
  border-bottom: 2px solid rgba(225,225,225, 0.0);
  box-shadow: 0 8px 32px 0 rgba(0 ,0 , 0, 0.37);
}

.glass2 {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 20px;
  border-top: 2px solid rgba(225,225,225, 0.2);
  border-left: 1px solid rgba(225,225,225, 0.1);
  border-right: 1px solid rgba(225,225,225, 0.3);
  border-bottom: 2px solid rgba(225,225,225, 0.0);
  box-shadow: 0 8px 32px 0 rgba(0 ,0 , 0, 0.37);
}
/*----------------------------------------------------------------------------------------*/

.login-container {
  width: 80%;
  height: 50%;

  border-radius: 20px;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;

  flex-direction: column;

  border-top: 2px solid rgba(225,225,225, 0.2);
  border-left: 1px solid rgba(225,225,225, 0.1);
  border-right: 1px solid rgba(225,225,225, 0.3);
  border-bottom: 2px solid rgba(225,225,225, 0.0);
}

.login-container h2 {
  width: 90%;
  height: 20%;
  padding: 0;

  display: flex;
  align-items: top;
  justify-content: center;
  text-align: center;

  font-size: calc(30px + 2vmin);
  color: #fff;
  letter-spacing: -3px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.login-box {
  width: 100%;
  height: 35vh;
  margin: 0;
  padding: 0;
  
  border: none;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;

  font-size: 15px;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

  border-top: 2px solid rgba(225,225,225, 0.2);
  border-left: 1px solid rgba(225,225,225, 0.1);
  border-right: 1px solid rgba(225,225,225, 0.3);
  border-bottom: 2px solid rgba(225,225,225, 0.0);
  box-shadow: 0 8px 32px 0 rgba(0 ,0 , 0, 0.37);
}

.text-box {
  width: 100%;
  height: 12%;
}

.text-box span {
  font-size: 25px;
}

.user-box {
  width: 100%;
  height: 30%;

  border: none;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.password-box {
  width: 100%;
  height: 30%;

  border: none;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  padding: 1rem;
  width: 80%;
  height: 10px;
  margin: 10px;
  outline: none;

  border-radius: 20px;
  border: solid 0.5px rgba(255, 246, 232, 0.5);

  background-color: rgba(26, 55, 99, 0.0);

  font-size: 15px;
  color: rgba(255, 246, 232, 0.8);
}

input::placeholder {
  color: rgba(255, 246, 232, 0.8);
  align-items: center;
}

input:focus {
  border: solid 0.5px rgba(255, 246, 232, 0.5);
  outline: none;
}

.button-box {
  width: 100%;
  height: 20%;

  border: none;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 90%;
  height: 90%;

  border: none;
  border-radius: 25px;

  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;

  background-color: rgba(255, 246, 232, 0.2);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

  border-top: 2px solid rgba(225,225,225, 0.2);
  border-left: 1px solid rgba(225,225,225, 0.1);
  border-right: 1px solid rgba(225,225,225, 0.3);
  border-bottom: 2px solid rgba(225,225,225, 0.0);
  box-shadow: 0 8px 32px 0 rgba(0 ,0 , 0, 0.37);

  cursor: pointer;
}

button:hover{
    background-color: #cfcfcf;
    color: rgba(0, 0, 0, 0.3);
    transform: scale(0.98);
}